<footer>
    <div id="footer">
     <div id="box-footer">
          
        
       <div class="footer1">
       <div class ="footer-icon" >
           <i class="fa-solid fa-credit-card"></i>
         </div>
            
         <h3 class="titu"> Pagá con tarjeta o efectivo 
             <p class="texto" > Con DiconsPago, tenés cuotas sin interés con tarjeta o efectivo en  puntos de pago.<br> ¡Y siempre es seguro!</p>
         </h3>
       </div>
       <div class="footer1">
         <div class="footer-icon">
             <i class="fa-solid fa-gift"></i>
         </div>
         
             </span>
         <h3 class="titu">Envío gratis desde $ 2.500 
         <p class="texto"> Solo por estar registrad@ en Dicons tenés envíos gratis en miles de productos.<br> Es un beneficio de Dicons Puntos </p>
         </h3>
       </div>
       <div class="footer1">
         <div class="footer-icon">
           <i class="fa-solid fa-shield"></i>
         </div>
                 
         <h3 class="titu">Seguridad, de principio a fin
         <p class="texto">¿No te gusta? ¡Devolvelo! En Dicons, no hay nada que no puedas hacer, <br>porque estás siempre protegid@. </p>
         </h3>
         
       </div>
      </div>
   
     <div id="footer-derecho">
       <div class="texto-suscribirte-div">
       <p class="texto-suscribirte">Suscribite y recibí nuestras ofertas</p>
       <nav class="barra-correo">
         <div class="container-fluid">
           <div class="input-group mb-3">
             <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2">
             <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enviar</button>
           </div>
       </nav>
     </div>
      
     
       <div class="seguinos-texto">
       <p class="seguinos"> Seguinos en: </p>
     </div>
       <div class="redes-sociales">
       <div class="redes-div">
         <div class="ig"><a href="x" class="insta"><iconify-icon icon="akar-icons:instagram-fill"></iconify-icon></a></div>
       </div>
        <div class="redes-div">
         <div class="fb"><a class= "facebook" href="x"><iconify-icon icon="ant-design:facebook-outlined"></iconify-icon></a></div>
        </div>
        <div class="redes-div">
         <div class="tw"> <a class= "twitter" href="x"><iconify-icon icon="akar-icons:twitter-fill"></iconify-icon></a></div>
        </div>
        <div class="redes-div">
         <div class="yt"><a class= "youtube" href="x"><iconify-icon icon="akar-icons:youtube-fill"></iconify-icon></a></div>
        </div>
     
     </div>
     <p class="atencion-texto">Atención al cliente y Venta telefónica </p> 
     <h3 class="numero-atencion">0810-999-(3279)</h3>
     
   </div>
     
     </div>
   <br>
    <p class="fin-footer">Copyright © 2022 Cencosud - Dicons Seguridad y Privacidad | Código de ética</p>
   </footer>