<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title > Carrito Dicons</title> 
    <script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link href='https://fonts.googleapis.com/css2? family= Roboto & display=swap' rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/carrito.css" rel="stylesheet" >
    <link href="/css/producto.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2? familia = Amiko & display=swap" rel="stylesheet">
</head>

<body>
    
  <header class="main-header">

    <div class="primer-texto">
    <p><a href="x">Locales</a></p>
    <p><a href="x">Venta Empresas</a></p>
    <p><a href="x">Contactanos</a></p>
   </div>
    <div class="main-header-top-bar">
      <a href="x"><img class="logo-completo"src="/imagenes/logoo.jpg"> </img></a>
      
      <nav class="barra-busqueda">
        <div class="container-fluid">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar " aria-label="Search">
            <button type="button" class="btn btn-outline-secondary"><span class="material-icons">
              <i class="fa-solid fa-magnifying-glass"></i>
                 </span></button>
          </form>
        </div>
      
      </nav>
     
    </div>

   
  

     <nav class="main-listas">
       <ul class="categorias">
      <li><a href="a">Categorias <i class="fa-solid fa-angle-down"></i></a></li>
    </ul>
   
      <ul class="lista-izq">
        <li><a href="a"> Vender  </a></li>
        <li><a href="a"> Historial </a></li>
        <li><a href="a"> Promociones </a></li>
        <li><a href="a"> Ayuda   </a></li>
       </ul>
      
      
       <ul class="lista-derc" >
        <li><a href="a"><i class="fa-solid fa-circle-user"></i> Mi cuenta </a> </li>
        <li><a href="a"><i class="fa-solid fa-heart"></i> Favoritos </a> </li>
        <li><a href="a"><i class="fa-solid fa-cart-shopping"></i> Carrito </a> </li>
       </ul>
      
     </nav>
  </header>
  

  <div id="producto-entero">
    <div class="fotos-producto">
      <img class="fotos-izq" src="/imagenes/target.jpg">
      <img class="fotos-izq" src="/imagenes/target vista1.jpg">
      <img class="fotos-izq" src="/imagenes/target vista2.jpg">
      <img class="fotos-izq" src="/imagenes/target vista3.jpg">
    </div>
    <div class="fotos-producto-grande">
      <img class="fotos-derecha" src="/imagenes/target.jpg">
    </div>
  

    <div class="nombre-producto">
      <div class="x-nombre">
        <h2 class="nombre-productos"> Vaporesso target 200</h2>
     </div>
     <h2 class="precio-producto">$17.500</h2>
     <select id="cantidad-productos"class="form-select" aria-label="Default select example">
      <option selected> Cantidad:</option>
      <option value="1">1 unidad</option>
      <option value="2">2 unidades</option>
      <option value="3">3 unidades</option>
     </select>
     <div class="div-boton-comprar">
      <a href="/"><button id="boton-comprar"class="w3-button w3-black w3-round-small">Comprar ahora </button></a>
     </div>
     <div class="div-boton-carrito">
      <a href="/"><button id="boton-carrito"class="w3-button w3-gray w3-round-small">Agregar al carrito </button></a>
     </div>
     <div class="compartir-cuotas">
      <div>
     <a href="x"><i id="icono-compartir" class="fa-sharp fa-solid fa-circle-nodes"></i></a> 
    </div>
    <div class="calcular-cuotas">
      <a href="a">Calcular cuotas</a>
    </div>
    </div>
    <div class="retiro-envio">
      <div class="boton-retiro">
      <a href="/"><button id="boton-envio-retiro"class="w3-button w3-white w3-round-small">Retiro en tienda <i class="fa-solid fa-chevron-right"></i></button></a>
    </div>
    <div class="boton-envio">
    <a href="/"><button id="boton-envio-retiro"class="w3-button w3-white w3-round-small">Envio a domicilio  <i  class="fa-solid fa-chevron-right"></i></button></a>
  </div>
    </div>
    <div class="div-boton-comprar">
      <a href="/"><button id="boton-medios-pago"class="w3-button w3-white w3-round-small">Medios de pago    <i class="fa-solid fa-chevron-right"></i></button></a>
     </div>
     <div class="div-boton-carrito">
      <a href="/"><button id="boton-medios-pago"class="w3-button w3-white w3-round-small">Stock en tiendas   <i class="fa-solid fa-chevron-right"></i></button></a>
     </div>
     <a href="/"><h4 class="bn35">Condiciones para cambios y devoluciones</h4></a>
     <br>
  </div>
 
    <div id="div-boton-x-producto">
    <button id="boton-x-producto"class="w3-button w3-black w3-round-small"><i class="fa-solid fa-x"></i></button>
  </div>
    <br>
     </div>
     <br>
  <br>
  <footer>
    <div id="footer">
     <div id="box-footer">
          
        
       <div class="footer1">
       <div class ="footer-icon" >
           <i class="fa-solid fa-credit-card"></i>
         </div>
            
         <h3 class="titu"> Pagá con tarjeta o efectivo 
             <p class="texto" > Con DiconsPago, tenés cuotas sin interés con tarjeta o efectivo en  puntos de pago.<br> ¡Y siempre es seguro!</p>
         </h3>
       </div>
       <div class="footer1">
         <div class="footer-icon">
             <i class="fa-solid fa-gift"></i>
         </div>
         
             </span>
         <h3 class="titu">Envío gratis desde $ 2.500 
         <p class="texto"> Solo por estar registrad@ en Dicons tenés envíos gratis en miles de productos.<br> Es un beneficio de Dicons Puntos </p>
         </h3>
       </div>
       <div class="footer1">
         <div class="footer-icon">
           <i class="fa-solid fa-shield"></i>
         </div>
                 
         <h3 class="titu">Seguridad, de principio a fin
         <p class="texto">¿No te gusta? ¡Devolvelo! En Dicons, no hay nada que no puedas hacer, <br>porque estás siempre protegid@. </p>
         </h3>
         
       </div>
      </div>
   
     <div id="footer-derecho">
       <div class="texto-suscribirte-div">
       <p class="texto-suscribirte">Suscribite y recibí nuestras ofertas</p>
       <nav class="barra-correo">
         <div class="container-fluid">
           <div class="input-group mb-3">
             <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2">
             <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enviar</button>
           </div>
       </nav>
     </div>
      
     
       <div class="seguinos-texto">
       <p class="seguinos"> Seguinos en: </p>
     </div>
       <div class="redes-sociales">
       <div class="redes-div">
         <div class="ig"><a href="x" class="insta"><iconify-icon icon="akar-icons:instagram-fill"></iconify-icon></a></div>
       </div>
        <div class="redes-div">
         <div class="fb"><a class= "facebook" href="x"><iconify-icon icon="ant-design:facebook-outlined"></iconify-icon></a></div>
        </div>
        <div class="redes-div">
         <div class="tw"> <a class= "twitter" href="x"><iconify-icon icon="akar-icons:twitter-fill"></iconify-icon></a></div>
        </div>
        <div class="redes-div">
         <div class="yt"><a class= "youtube" href="x"><iconify-icon icon="akar-icons:youtube-fill"></iconify-icon></a></div>
        </div>
     
     </div>
     <p class="atencion-texto">Atención al cliente y Venta telefónica </p> 
     <h3 class="numero-atencion">0810-999-(3279)</h3>
     
   </div>
     
     </div>
   <br>
    <p class="fin-footer">Copyright © 2022 Cencosud - Dicons Seguridad y Privacidad | Código de ética</p>
   </footer>
   </body>



 