<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Dicons | Compra Online</title> 
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/estilos.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/forms.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css%22%3E>
    <link href="https://fonts.googleapis.com/css2?family=Amiko&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
</head>

<body>
    <!-- Contenido del Header -->
    <header class="main-header">

        <div class="main-header-top-bar">
            
            <a href="/"><img class="logo-completo" src="/img/products/logo_dicons.jpg"></img></a>

            <nav class="barra-busqueda">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar " aria-label="Search">
                    <button type="button" class="btn btn-outline-secondary"><span class="material-icons">
                      <i class="fa-solid fa-magnifying-glass"></i>
                         </span></button>
                  </form>
            </nav>

            

            <div class="primer-texto">
                <p><a href="x">Locales</a></p>
                <p class="empresas"><a href="x">Empresas</a></p>
                <p><a href="x">Contactanos</a></p>
            </div>
        </div>
    
        <nav class="main-listas">
       
          <ul class="lista-izq">
            <li class="categorias"><a href="a">Categorias <i class="fa-solid fa-angle-down"></i></a></li>
            <li class="vender"><a href="/products/create"> Vender  </a></li>
            <li class="historial"><a href="a"> Historial </a></li>
            <li class="promociones"><a href="a"> Promociones </a></li>
            <li class="ayuda"><a href="a"> Ayuda   </a></li>
           </ul>
          
          
           <ul class="lista-derc" >
            <li class="mi-cuenta"><a href="/users/registro"><i class="fa-solid fa-circle-user"></i> Mi cuenta </a> </li>
            <li class="inicia-sesion"><a href="/users/login"><i class="fa-solid fa-right-to-bracket"></i> Inicia Sesión </a> </li>
            <li class="favoritos"><a href="a"><i class="fa-solid fa-heart"></i> Favoritos </a> </li>
            <li class="carrito"><a href="/users/carrito"><i class="fa-solid fa-cart-shopping"></i> Carrito </a> </li>
           </ul>
          
         </nav>

         <!-- Barra de Navegacion escondida para pantallas menores a 768px-->      
         <a href="#" class="hamburguer-button"><i class="fa-solid fa-bars"></i></a>  
         <nav class="navbar-hidden">
            <ul type="none" class="navbar-list">
                <li><a href="#">Ofertas</a><i class="bi-alarm"></i></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="/products/create">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="/registro">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        </header>
    <main>
        <div class="container products-wrapper">
            <div class="row">
                <div class="col-12">
                    <h2 class="products-title">Formulario de creación de productos</h2>
                </div>
            </div>
            <div class="col-12">
                <form action="create" method="POST">
                    <div class="row product-detail">
                        <div class="col-12 col-md-6">
                            <label for="name" class="form-label">Nombre del producto:</label>
                            <input type="text" id="name" name="name" placeholder="Ej: Webcam Modelo 1050" class="form-input">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="price" class="form-label">Precio del producto:</label>
                            <input type="text" id="price" name="price" placeholder="Ej: 7268" class="form-input">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="discount" class="form-label">Descuento:</label>
                            <input type="text" id="discount" name="discount" placeholder="Ej: 35" class="form-input">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="category" class="form-label">Categoría:</label>
                            <select name="category" id="category" class="form-input">
                                <option value="">Elegí</option>
                                <option value="in-sale">En oferta</option>
                                <option value="visited">Últimos agregados</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="product-img" class="form-label">Cargue una imagen:</label><br>
                            <input type="file" id="product-img" name="product-img">
                        </div>
                        <div class="col-12" id="title-description">
                            <label for="description" class="form-label">Descripción:</label>
                            <textarea name="description" id="description" class="form-input"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="buy-now-button">Guardar producto</button>
                        </div>
                    </div>
                </form>
            </div>
    
        </div>
    </main>
      
    <!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
        
    
    </body>


</html>
