*{
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
 
}





.caja-boton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hola{
   display: block;
   width: 400px;
   height: 54px;
   border: 2px solid black;
   margin-left: 82px;
   background-color: black;
   border-radius:14px
   
}
.hola h2{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 19px;
    text-align: center;
    margin-top: 14px;
}
.boton-pagar{
    margin-right:  42px; 
    margin-top: 13px
 }

#boton{
    width: 500px;
   height: 44px;
}
.carrito{
    font-family: Helvetica;
    margin-left: 82px;
    margin-top: 30px;
    font-size: 50px;
}
.carrito p{
    font-size: medium;
    margin-left: 10px;
    font-family: Helvetica;
}


.img01{
    width: 100%;
    height: 100%;
}
.foto-producto{
    margin-left: 82px;
    width: 275px ;
    height: 310px;
    border: 2px solid  rgba( 0, 0, 0, 0.5) ;
}
.texto-producto{
    border: 2px solid rgba( 0, 0, 0, 0.5) ;
    width: 635px ;
    height: 310px;
    margin-left: 5px;
   
}

.nombre{
    font-family: Helvetica;
    margin-left: 10px;
    font-size: 35px;

}
#boton-x{
    font-size: 17px;
}

.precio{
    font-size: 35px;
    font-weight: bold;
    margin-left: 10px ;
}
#div-like{
    font-size: 34px;
    margin-right: 4px;
    margin-top: -10px;
}
#div-like2{
    font-size: 34px;
    margin-right: 4px;
    margin-top: -8px;
}
.resumen-compra{
    width: 29vw;
    height: 280px;
    border: 2px solid  rgba( 0, 0, 0, 0.5) ;
    font-family: 'Amiko', sans-serif;
    font-size: 18px;
    margin-right:  12px;
  
    
}
.resumen-class{
    margin-top: -108px;
}

.resumen-class h3{
    font-size: medium;
    font-family: 'Amiko', sans-serif;
    opacity: 0.6;
    margin-bottom: 1.5px;
 
}

.precio-original{
    margin-top: 9px;
    margin-left: 16px;
    opacity: 0.6;
}
.precio-n{
    margin-top: 9px;
    margin-right: 16px;
    opacity: 0.6;
}
.descuento-original{
    margin-left: 16px;
    margin-top: 3px;
    opacity: 0.6;
}
.descuento-n{
    margin-top: 3px;
    margin-right: 16px;
    opacity: 0.6;
}
.productos-original{
    margin-left: 16px;
    margin-top: 3px;
    opacity: 0.6;
}
.productos-n{
    margin-top: 3px;
    margin-right: 16px;
    opacity: 0.6;
}
.total-original{
    margin-left: 16px;
    margin-top: 3px;
    font-size: 22px;
    
}
.total-n{
    margin-top: 3px;
    margin-right: 18px;
    

}
.total-original p{
    opacity: 0.6;
    font-size: 15px;
}
.codigo-desc{
   
    width:29vw;
    height: 50px;
}
.codigo-desc p{
    margin-top: -1px ;
}
.lista-caracteristicas{
    margin-bottom: -12px;
}
.opciones-pago{
    margin-left:38px ;
    margin-bottom: 1px;
    margin-top: -13px;
}

.tarjetas{
    margin: 0 38px;
    width: 405px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
}
.tarjetas .tarjetas-div{
    margin: 0 1px;
    
}

.visa{
    font-size: 27px;
}
.vs{
    margin-top: 4.5px;
    margin-left: auto;
    margin-right: 3px;

}
.tarjetas-div{
    border: 1px solid rgba( 0, 0, 0, 0.5);
    width: 105px;
    height: 42px;
    text-align: center;
  

}
.mastercard{
    font-size: 36px;
}
.mc{
    margin-top: -1px;
}
.american-express{
    font-size: 36px;
}

.mercado-pago{
    font-size: 64px;
}
.mp{
    margin-top: -17.5px;
}
.american{
    margin-top: -1px;
}

#producto-resumen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#productos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#producto1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.x-nombre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.precio-like{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.resumen-class{
    display: flex;
    flex-direction: column;
}
.precio-compl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.descuento-compl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.productos-compl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.total-compl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tarjetas{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}



@media only screen and (max-width: 480px) and (min-width: 370px){
   
    .hola{
        display: none;
    }
    
   
    .carrito {
        font-size: 30px;
        font-family: Helvetica;
        margin-left: 14px;
        margin-top: 40px;  
        margin-bottom: -22px;
    }
    .carrito p{
        font-size: 14px;
        font-family: Helvetica;
    }
    #producto-resumen{
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    }
    #productos{
        width: 110vw;
        margin: 0 0 -10px  2vw;
        
    }
    #producto1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: left;
    }
    #producto1{
        margin-left: -65px;
        
    }
   
        .foto-producto{
        width: 36vw;
        height: 18vh;
        border: 2px solid black;
       
    }
    
    .img01{
        width: 30vw;
        height: 17vh;
    }
   .texto-producto{
        width: 50vw;
        height: 18vh;
   }
    .lista-caracteristicas{
        display: none;
    }
    .resumen-compra{
        width: 93vw;
        height: 280px;
        border: 2px solid  rgba( 0, 0, 0, 0.5) ;
        font-family: 'Amiko', sans-serif;
        font-size: 18px;
        margin: 6px auto  5px;
      
        
    }
    .resumen-class{
        margin-top: 5px;
    }
    .resumen-class h3{
        font-size: medium;
       
    }
    .nombre{
        font-family: Helvetica;
        font-size: 17px;
    
    }
    #boton-x{
        display: none;
    }
    
    .precio{
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px ;
    }
    #div-like{
       display: none;
    }
    .codigo-desc{
        width: 92vw;
      
    }
    .opciones-pago{  
        display: none;    
    }  
    .tarjetas{
        display: none;
    } 
    .boton-pagar{
        margin:13px auto 0;
        
     }
    
    #boton{
        width: 300px;
        height: 44px;
    }
    
    
}
@media only screen and (max-width: 780px) and (min-width: 480px){
  
    .hola{
        display: none;
    }
    
   
    .carrito {
        font-size: 30px;
        font-family: Helvetica;
        margin-left: 14px;
        margin-top: 40px;  
        margin-bottom: -22px;
    }
    .carrito p{
        font-size: 14px;
        font-family: Helvetica;
    }
    #producto-resumen{
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    }
    #productos{
        width: 120vw;
        margin: 0 auto 0;
        
    }
    #producto1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: left;
    }
    #producto1{
        margin-left: -65px;
        
    }
   
    .foto-producto{
        width: 41vw;
        height: 21vh;
        border: 2px solid black;
       
    }
    
    .img01{
        width: 40vw;
        height: 20vh;
    }
   .texto-producto{
        width: 52vw;
        height: 21vh;
   }
    .lista-caracteristicas{
        display: none;
    }
    .resumen-compra{
        width: 80vw;
        height: 280px;
        border: 2px solid  rgba( 0, 0, 0, 0.5) ;
        font-family: 'Amiko', sans-serif;
        font-size: 18px;
        margin: 6px auto 6px ;
      
        
    }
    .resumen-class{
        margin-top: 5px;
    }
    .resumen-class h3{
        font-size: medium;
       
    }
    .nombre{
        font-family: Helvetica;
        font-size: 17px;
    
    }
    #boton-x{
        display: none;
    }
    
    .precio{
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px ;
    }
    #div-like{
       display: none;
    }
    .codigo-desc{
        width: 82vw;
      
    }
    .opciones-pago{  
        display: none;    
    }  
    .tarjetas{
        display: none;
    } 
    .boton-pagar{
        margin:13px auto 0;
        
     }
    
    #boton{
        width: 300px;
        height: 44px;
    }
    
}
@media only screen and (max-width: 1280px) and (min-width: 781px){
   
    
    .hola{
        display: none;
    }
    
   
    .carrito {
        font-size: 30px;
        font-family: Helvetica;
        margin-left: 14px;
        margin-top: 40px;  
        margin-bottom: -22px;
    }
    .carrito p{
        font-size: 14px;
        font-family: Helvetica;
    }
    #producto-resumen{
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    }
    #productos{
        width: 120vw;
        margin: 0 auto ;
        
    }
    #producto1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    #producto1{
       margin-left:-35px
        
    }
   
    .foto-producto{
        width: 36vw;
        height: 26vh;
        border: 2px solid black;
    }
    
    .img01{
        width: 35vw;
        height: 25vh;
    }
   .texto-producto{
        width: 52vw;
        height: 26vh;
   }
    .lista-caracteristicas{
        display: none;
    }
    .resumen-compra{
        width: 87vw;
        height: 280px;
        border: 2px solid  rgba( 0, 0, 0, 0.5) ;
        font-family: 'Amiko', sans-serif;
        font-size: 18px;
        margin: 6px auto 6px ;
      
        
    }
    .resumen-class{
        margin-top: 5px;
    }
    .resumen-class h3{
        font-size: medium;
       
    }
    .nombre{
        font-family: Helvetica;
        font-size: 17px;
    
    }
    #boton-x{
        display: none;
    }
    
    .precio{
        font-size: 12px;
        font-weight: bold;
        margin-left: 10px ;
    }
    #div-like{
        display: none;
     }
     #div-like2 {
        display: none;
     }

     .opciones-pago{  
        display: none;    
    }  
    .tarjetas{
        display: none;
    } 
    .boton-pagar{
        margin:13px auto 0;
        
     }
     .codigo-desc{
        width: 87vw;
      
    }




    

}
@media only screen and (min-width: 1280px) and (max-width: 1500px){
    body{
        font-family:Arial, Helvetica, sans-serif;
     
    }
    
    
    .caja-boton{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .hola{
       display: block;
       width: 400px;
       height: 54px;
       border: 2px solid black;
       margin-left: 82px;
       background-color: black;
       border-radius:14px
       
    }
    .hola h2{
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        color: white;
        font-size: 19px;
        text-align: center;
        margin-top: 14px;
    }
    .boton-pagar{
        margin-right:  42px; 
        margin-top: 13px
     }
    
    #boton{
        width: 500px;
       height: 44px;
    }
    .carrito{
        font-family: Helvetica;
        margin-left: 82px;
        margin-top: 30px;
        font-size: 50px;
    }
    .carrito p{
        font-size: medium;
        margin-left: 10px;
        font-family: Helvetica;
    }
    
    
    .img01{
        width: 100%;
        height: 100%;
    }
    .foto-producto{
        margin-left: 82px;
        width: 275px ;
        height: 310px;
        border: 2px solid  rgba( 0, 0, 0, 0.5) ;
    }
    .texto-producto{
        border: 2px solid rgba( 0, 0, 0, 0.5) ;
        width: 36vw ;
        height: 310px;
        margin-left: 5px;
    }
    
    .nombre{
        font-family: Helvetica;
        margin-left: 10px;
        font-size: 25px;
    
    }
    #boton-x{
        font-size: 17px;
    }
    
    .precio{
        font-size: 35px;
        font-weight: bold;
        margin-left: 10px ;
    }
    #div-like2 {
        font-size: 34px;
        margin-right: 4px;
        margin-top: 1vh;
    }
    #div-like {
        font-size: 34px;
        margin-right: 4px;
        margin-top: 1vh ;
    }
    .resumen-compra{
        width: 30vw;
        height: 280px;
        border: 2px solid  rgba( 0, 0, 0, 0.5) ;
        font-family: 'Amiko', sans-serif;
        font-size: 18px;
       
      
        
    }
    .resumen-class{
        margin-top: -108px;
    }
    
    .resumen-class h3{
        font-size: medium;
        font-family: 'Amiko', sans-serif;
        opacity: 0.6;
        margin-bottom: 1.5px;
     
    }
    
    .precio-original{
        margin-top: 9px;
        margin-left: 16px;
        opacity: 0.6;
    }
    .precio-n{
        margin-top: 9px;
        margin-right: 16px;
        opacity: 0.6;
    }
    .descuento-original{
        margin-left: 16px;
        margin-top: 3px;
        opacity: 0.6;
    }
    .descuento-n{
        margin-top: 3px;
        margin-right: 16px;
        opacity: 0.6;
    }
    .productos-original{
        margin-left: 16px;
        margin-top: 3px;
        opacity: 0.6;
    }
    .productos-n{
        margin-top: 3px;
        margin-right: 16px;
        opacity: 0.6;
    }
    .total-original{
        margin-left: 16px;
        margin-top: 3px;
        font-size: 22px;
        
    }
    .total-n{
        margin-top: 3px;
        margin-right: 18px;
        
    
    }
    .total-original p{
        opacity: 0.6;
        font-size: 15px;
    }
    .codigo-desc{
       
        width: 30vw;
        height: 50px;
    }
    .codigo-desc p{
        margin-top: -1px ;
    }
    .lista-caracteristicas{
        margin-bottom: -12px;
    }
    .opciones-pago{
        margin-left:38px ;
        margin-bottom: 1px;
        margin-top: -13px;
    }
    footer{
        background-color: black;
    }
    .tarjetas{
        margin: 0 38px;
        border-top: 4px solid black;
        border-bottom: 4px solid black;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .tarjetas .tarjetas-div{
        margin: 0 1px;
        
    }
    
    .visa{
        font-size: 27px;
    }
    .vs{
        margin-top: 4.5px;
        margin-left: auto;
        margin-right: 3px;
    
    }
    .tarjetas-div{
        border: 1px solid rgba( 0, 0, 0, 0.5);
        width: 105px;
        height: 42px;
        text-align: center;
      
    
    }
    .mastercard{
        font-size: 36px;
    }
    .mc{
        margin-top: -1px;
    }
    .american-express{
        font-size: 36px;
    }
    
    .mercado-pago{
        font-size: 64px;
    }
    .mp{
        margin-top: -17.5px;
    }
    .american{
        margin-top: -1px;
    }
    
    #producto-resumen{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #productos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #producto1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .x-nombre{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .precio-like{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .resumen-class{
        display: flex;
        flex-direction: column;
    }
    .precio-compl{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .descuento-compl{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .productos-compl{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .total-compl{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tarjetas{
        display: flex;
        flex-direction: row;
        align-items: center;
       
    }
    
   




}