#footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: black;
}
.redes-sociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer-derecho{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#footer-derecho{
    margin-top: 22px;
    padding-left: 23px;
    border-left: 2px solid rgba(255,255,255,0.7);
}

.seguinos-texto{
    margin-left: 34px;
    margin-bottom: -17px;
    color: white;
    margin-top: 9px;
    opacity: 0.7;

}

.redes-sociales{
    margin-left:  1px ;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-bottom: 9px;
}
.redes-div{
    margin: 0 7px;
}
.ig{
    margin-top: 2px;
    margin-left: auto;
    margin-right: 3px;
    color: white;
}
.insta{
    font-size: 30px;
}
.facebook{
    font-size: 32px;
    color: white;
}
.fb{
    margin-top: 0;
    margin-left: auto;
    margin-right: 3px;

}
.twitter{
    font-size: 32px;
}
.tw{
    margin-top: 0;
    margin-left: auto;
    margin-right: 3px; 
    color: white;
}
.youtube{
    font-size: 32px;
}
.yt{
    margin-top: 0;
    margin-left: auto;
    margin-right: 3px; 
    color: white;
}
.barra-correo{
    width: 600px;
    margin-left:23px ;
    margin-bottom: 9px;

}
.texto-suscribirte{
    color: white;
    margin-left: 34px;
    margin-top: 5px;
    margin-bottom: 17px;
    opacity: 0.7;
}
.atencion-texto{
    margin-left: 34px;
    color: white;
    opacity: 0.7;
    margin-top: 9px;
    font-size: small;
}
.numero-atencion{
    margin-left: 34px;
    margin-bottom: -17px;
    color: white;
    margin-top: -3px;
    opacity: 0.7;

}
.titu{
    text-align: center;
    color: white;
}

.fin-footer{
    text-align: center;
    color: white;
    opacity: 0.7;


}


 .footer-icon{
    text-align: center;
    font-size: x-large;
 }
 .footer-icon:hover {
    color: white;

 }

 
 #box-footer{
    display: flex;
    flex-direction:row;
    justify-content: center;

 }
 #box-footer{
    margin-right: 12px;
 }
 #box-footer .footer1{
    margin: auto 20px;
    justify-content: center;
 }



@media only screen and (max-width: 480px) and (min-width: 370px){

    #box-footer{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    #box-footer{
        margin-right: 12px;
        margin-top: 12px;
    }

    #box-footer .footer1{
        margin: auto 20px;
        justify-content: center;
    }

    #footer-derecho{
        display: none;
    }

    .fin-footer{
        font-size: X-small;
    }

    .titu{
        font-size: small;
    }

    .titu .texto{
        font-size: x-small; 
    }

    .footer-icon{
        margin-bottom: -8px;
    }
}


@media only screen and (max-width: 780px) and (min-width: 480px){
    
#box-footer{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

#box-footer{

    margin-top: 12px;
}

#box-footer .footer1{
    margin: auto 20px;
    justify-content: center;
}

#footer-derecho{
    display: none;
}

.fin-footer{
    font-size: X-small;
}
 .titu{
    font-size: small;
}

 .titu .texto{
    font-size: x-small; 
}

 .footer-icon{
    margin-bottom: -8px;
}

}

@media only screen and (max-width: 1280px) and (min-width: 781px){    
    
#footer-derecho{
    display: none;
}
}
@media only screen and (min-width: 1280px) and (max-width: 1500px){      
    
footer{
    background-color: black;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.redes-sociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer-derecho{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer-derecho{
    margin-top: 22px;
    padding-left: 23px;
    border-left: 2px solid rgba(255,255,255,0.7);
}

.seguinos-texto{
    margin-left: 34px;
    margin-bottom: -17px;
    color: white;
    margin-top: 9px;
    opacity: 0.7;
}

.redes-sociales{
    margin-left:  1px ;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-bottom: 9px;
}

.redes-div{
    margin: 0 7px;
}

.ig{
    margin-top: 2px;
    margin-left: auto;
    margin-right: 3px;
    color: white;
}

.insta{
    font-size: 30px;
}

.facebook{
    font-size: 32px;
    color: white;
}

.fb{
    margin-top: 0;
    margin-left: auto;
    margin-right: 3px;
}

.twitter{
    font-size: 32px;
}

.tw{
    margin-top: 0;
    margin-left: auto;
    margin-right: 3px; 
    color: white;
}

.youtube{
    font-size: 32px;
}

.yt{
    margin-top: 0;
    margin-left: auto;
    margin-right: 3px; 
    color: white;
}

.barra-correo{
    width: 600px;
    margin-left:23px ;
    margin-bottom: 9px;
}

.texto-suscribirte{
    color: white;
    margin-left: 34px;
    margin-top: 5px;
    margin-bottom: 17px;
    opacity: 0.7;
}

.atencion-texto{
    margin-left: 34px;
    color: white;
    opacity: 0.7;
    margin-top: 9px;
    font-size: small;
}

.numero-atencion{
    margin-left: 34px;
    margin-bottom: -17px;
    color: white;
    margin-top: -3px;
    opacity: 0.7;
}

.titu{
    text-align: center;
    color: white;
}

.fin-footer{
    text-align: center;
    color: white;
    opacity: 0.7;
}

.footer-icon{
    text-align: center;
    font-size: x-large;
}

 .footer-icon:hover {
    color: white;
}

#box-footer{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

#box-footer .footer1{
    margin: auto 20px;
    justify-content: center;
}

.texto{
    color:white;
    font-size: 13px;
    text-align: center;
    opacity: 0.69;
    font-family: 'Roboto', sans-serif;
}

 }