/*====== Variables ======*/
:root {
    --yellow: #EAC926;
    --dark-blue: #03264C;
    --light-blue: #1259c3;
    --gray: #666666;
    --light-gray: #ebebeb;
    --green: #39b54a;
    --base-font-family: 'Roboto', sans-serif
  }

.container-main {
    padding: 2vw 10vw 0vw 10vw;
    display: flex;
    justify-content: center;
    align-content: center;
}
.titulo {
    width: 100%;
    margin: 0px 10px 0px 20px;
    font-size: 17px;
    align-self: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2vw;
}
.container-producto {
    width: auto;
    max-width: 890px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-producto-hidden {
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px 15px 10px;
}
.card-producto {
    width: 194px;
    height: auto;
    justify-items: flex-start;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 10px;
    cursor: default;
    transition: all 400ms ease;
}
.card-producto img {
    width: 194px;
    height: auto;
    text-align: center;
}

.card-producto a {
    text-decoration: none;
    color: black
}
.card-producto:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.card-producto:hover .detalle-producto i {
    transform: rotate(-90deg);
}
.card-producto:hover .nombre-producto{
    display: block;
}
.detalle-producto {
    border-top: #ebebeb solid 1px;
    width: 100%;
    position: relative;
}

.precio-producto {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.descuento-producto {
    text-align: center;
    color: #39b54a;
    font-size: 14px;
    position: absolute;
    top: 14px;
    left: 100px;
}

.detalle-producto i {
    color: var(--green);
    font-size: 18px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    border: solid 1px;
    position: absolute;
    padding: 6px;
    right: 5px;
    top: -18px;
    transition: 200ms;
}

.nombre-producto {
    display: none;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    transition: 2000ms;
}

/* ------------------- Inicio Medias Queries --------------------- */

@media (min-width: 550px) {
    
    .titulo {
        font-size: 22px;
        text-align: left;
    }
    /*
    .container-producto {
        max-width: 444px;
    }
    */
}

@media (min-width: 1200px) {
    /*
    .titulo {
        margin-left: 20vw;
    }
    */
}
