*{
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif;
 
}

.main-header {
    background-color:black;
    padding: 20px;
    border-bottom: 2px solid rgba( 0, 0, 0, 0.5) ;
}
.primer-texto {
    display: flex;
    flex-direction: row;
}

.primer-texto p {
    font-size: 16px;
    margin-right: 12px;
}
.venta-empresas {
    display: none;
}

.primer-texto p a {
    text-decoration: none;
    color: white;
}

.main-header-top-bar{
    display: flex;
    justify-content: space-evenly;
}

.barra-busqueda{
  margin-top: 12px;
  width: 50%;
  margin: auto 20px;
}

.logo-completo{
    text-align: left;
    width: 120px;
}
.main-listas{
    color: white;
    margin: -24px auto -23px;
    display: flex;
    justify-content: space-between;
    justify-content: right;
    opacity: 0.8;
}

.main-listas ul {
   list-style: none;
    padding: 0;
    display: flex;
}
.main-listas a {
    text-decoration: none;
    color: white;
    display: block;}



.form-label{
    font-size: small;
}