<!DOCTYPE html>
<html lang="en">

  <head>

    <%- include ('./partials/head') %>
      <link href="/css/normalize.css" rel="stylesheet">
      <link href="/css/carrito.css" rel="stylesheet" >
    
      <link href="/css/header.css" rel="stylesheet">
      <link href="/css/footer.css" rel="stylesheet">
      
      <title > Carrito Dicons</title> 
        </head>

<body>
    
<!-- header -->
<%- include ('./partials/header') %>
<!-- /header -->



  <body>
    <br> 
  <div class="caja-boton">
    <div class="hola">
    <h2 >HOLA USUARIO!</h2>
    </div>

    <div class="boton-pagar">
      <a href="/"><button id="boton"class="w3-button w3-black w3-round-small">IR A PAGAR <i class="fa-solid fa-arrow-right-long"></i></button></a>
    </div>
  </div>
  <h2 class="carrito">TU CARRITO 
    <p>
      TOTAL (2 productos)
 </p></h2>
 <br>




<div id="producto-resumen">


  <div id="productos">
   <div id="producto1">
    <div class="foto-producto">
      <a href="x"><img class="img01" src="img/target.jpg"> </img></a>
  </div>
  
    
    <div class="texto-producto">
      <div class="x-nombre">
    <h2 class="nombre"> Vaporesso - Target 200 kit</h2>
    <div id="div-boton-x">
      <button id="boton-x"class="w3-button w3-black w3-round-small"><i class="fa-solid fa-x"></i></button>
    </div>
  </div>
  <div class="precio-like">
    <h2 class="precio">$18.000</h2>
    <div id="div-like">
    <a href="x"> <i class="fa-solid fa-heart"></i></a>
  </div>
  </div>
    
    </div>
  </div>
</section>

<br>
<section>
<div id="producto1">
  <div class="foto-producto">
    <a href="x"><img class="img01" src="img/dragg.jpg"> </img></a>
</div>

  
  <div class="texto-producto">
   <div class="x-nombre">
     <h2 class="nombre"> Voopoo - Drag 3 kit</h2>
   <div id="div-boton-x">
     <button id="boton-x"class="w3-button w3-black w3-round-small"><i class="fa-solid fa-x"></i></button>
   </div>
  </div>
 <div class="precio-like">
  <h2 class="precio">$20.000</h2>
   <div id="div-like2">
    <a href="x"> <i class="fa-solid fa-heart"></i></a>
   </div>
  
 </div>
 <br>
 <br>
 <br>
 
  </div>
</div>
</div>
</section>

<br>

<div class="resumen-class">
  <h3><b>RESUMEN DEL PEDIDO</b></h3>

  <div class="resumen-compra">
 <div class="precio-compl"> 
  <div class="precio-original">
    <p> Precio original </p>  
  </div> 
 
  <div class="precio-n">
    <p>$38.000</p>
  </div>
</div>


    <div class="descuento-compl"> 
      <div class="descuento-original">
       <p> Descuento </p>  
      </div> 
  
      <div class="descuento-n">
       <p>$3.000</p>
      </div>
    </div>

    <div class="productos-compl"> 
      <div class="productos-original">
       <p> 2 Productos</p>  
      </div> 
  
      <div class="productos-n">
       <p>$35.000</p>
      </div>
    </div>
    <br>
    <br>
    

    <div class="total-compl"> 
      <div class="total-original">
       <b> Total</b>  
       <p>(IVA incluido $35.000)</p>
      </div> 
  
      <div class="total-n">
       <b>$35.000</b>
       
      </div>
      
    </div>
    <br>
    <div class="codigo-desc">
      
  <div class="input-group mb-3">
   <input type="text" class="form-control" placeholder="Introduce tu codigo promocional" aria-label="Recipient's username" aria-describedby="button-addon2">
   <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa-solid fa-arrow-right-long"></i></button>
  </div>
  <br>
   <h3 class="opciones-pago"> <b>OPCIONES DE PAGO</b> </h3>
 <div class="tarjetas">
  
  <div class="tarjetas-div">
    <div class="vs"><a href="x" class="visa"><iconify-icon icon="logos:visa"></iconify-icon></a></div>
  </div>
   <div class="tarjetas-div">
    <div class="mc"><a class= "mastercard" href="x"><iconify-icon icon="logos:mastercard"></iconify-icon></a></div>
   </div>
   <div class="tarjetas-div">
    <div class="american"> <a class= "american-express" href="x"><iconify-icon icon="cib:american-express"></iconify-icon></a></div>
   </div>
   <div class="tarjetas-div">
    <div class="mp"><a class= "mercado-pago" href="x"><iconify-icon icon="arcticons:mercado-pago"></iconify-icon></a></div>
   </div>

</div>


  </div>




  </div>
 </div>
 
</div>
<br>
<br>
<br>
<!-- footer -->
<%- include ('./partials/footer') %>
<!-- /footer -->
</body>