<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ('./partials/head') %>
</head>
<body style="background-color: black;">
  <a href="/"><img style="width: 6%; margin-left: 12px;margin-top: 12px;" src="/img/products/logoo.jpg"> </img></a>
<div style="border: #03264C solid 2px; width: 90%; height: 80vh; margin-top: 1%; margin-left: auto;margin-right: auto; background-color: white;">
  <h1 style="margin-top:90px; text-align: center;" ><b>API ENDPOINTS DICONS</b></h1>

<div style="border: 1px solid #03264C; width: 79%; height: max-content; margin-left: 10%; margin-top: 3%; background-color: #999999 ">


  <div class="row g-0 text-center" >
   
    <div class="col-6 col-md-6" style="width: 50%; height: max-content; border: 1px solid white;">
  
     <h2 ><b>Traer todos los productos</b></h2>  
     <p>Para traer todos los productos ingresar: </p>
  
    </div>
   
    <div class="col-sm-6 col-md-6" style="width: 50%; height: 96px; border: 1px solid white;">
  
     <p style="margin-top: 19px;">"https://dicons-digitalhouse.onrender.com/products/traerProductos"</p>
   
    </div>
  </div>

   
  <div class="row g-0 text-center" >

    <div class="col-6 col-md-6" style="width: 50%; height: max-content; border: 1px solid white;">

      <h2> <b>Traer todos los usuarios </b></h2>
      <p>Para traer todos los usuarios ingresar: </p>

    </div>
    
      <div class="col-sm-6 col-md-6" style="width: 50%; height: 96px; border: 1px solid white;">

      <p style="margin-top: 19px;">"https://dicons-digitalhouse.onrender.com/users/traerUsuarios"</p>
   
    </div>
    
  </div>


<div class="row g-0 text-center" >
   
   <div class="col-6 col-md-6" style="width: 50%; height: max-content; border: 1px solid white;">

    <h2 ><b>Traer por id</b></h2>  
    <p>Para buscar productos por id ingresar: </p>

   </div>
  
   <div class="col-sm-6 col-md-6" style="width: 50%; height: 96px; border: 1px solid white;">

    <p style="margin-top: 16px;">"https://dicons-digitalhouse.onrender.com/products/traerProductoPorId/{:id}"</p>
    <p style="margin-top: 1px;">"https://dicons-digitalhouse.onrender.com/products/traerProductoPorId/10"</p>
    
  
   </div>
 </div>
  




</div>
</div>
 

   
</body>
</html>