<!DOCTYPE html>
<html lang="en">

    <head>
    
        <%- include ('./partials/head') %>
      
    
        <link href="/css/normalize.css" rel="stylesheet">
        
        <link href="/css/header.css" rel="stylesheet">
        <link href="/css/footer.css" rel="stylesheet">
        
        <title >Dicons | Compra Online</title> 
        
    </head>       

    <body>
   
        <!-- Contenido del Header -->
            <%- include ('./partials/header') %>
        <!-- Contenido del Header -->

        <!-- Vista Error 404 -->
        
            <img src="/img/products/error404-img.png" alt=""></img>
        
        <!-- /Vista Error 404 -->
        
        <!-- footer -->
            <%- include ('./partials/footer') %>
        <!-- /footer -->
        
    
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
        <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    
    </body>
    
</html>
