<!DOCTYPE html>
<html lang="en">

      <head>
            <%- include ('../partials/head') %>
            
            <link href="/css/normalize.css" rel="stylesheet">
            <link href="/css/StylesFormulario.css" rel="stylesheet">
            <link href="/css/header.css" rel="stylesheet">
            <link href="/css/footer.css" rel="stylesheet">
        
            <title >Dicons | Formulario Registro</title> 
        </head>
  
<body>
  <!--header insertado-->
  <!-- Contenido del Header -->
<!-- header -->
<%- include ('../partials/header') %>
<!-- /header -->

 <!--aca termina header insertado y abajo empieza formulario ha cambie en el header la ruta de la imagen del logo-->
<!-- aca inicia el formulario -->
    
<main>
  <br>
  <div ><h3> Registro  de Usuarios</h3> </div>     
  <hr>
  <main>
   
<div class="container"  >
          
      <form class="row mt-3 " id="FormDicons" method="post" action=" "   >

        <div class="col-6">
              <label for="emailInput" class="form-label">E-mail</label>
              <input type="email" name="E-mail" class="form-control"  id="emailInput" placeholder ="Ingresa tu @ mail" required>
        </div>

        <div class="col-6">
              <label for="coemailInput" class="form-label">Confirma  E-mail</label>
              <input type="email" name="CE-mail" class="form-control"  id="coemailInput" placeholder ="Confirma tu @ mail" required>
        </div>
          <br>
          <br>
          <br>
        <div class="col-12">
              <div class="form-check">
              <input type="checkbox"  name="Checknotif" id="checknotif" class="form-checkterm-input" >
              <label for="checknotif" class="form-checkterm-label">Quiero recibir novedades y notificaciones en mi E-mail </label>
              </div>
        </div>

        <div class="col-6">
              <label for="passwordinput" class="form-label">Contrase単a</label>
              <input type="password" name="pass" class="form-control"  id="passwordinput" placeholder ="Ingresa tu contrase単a" required >
        </div>

        <div class="col-6">
              <label for="copasswordinput" class="form-label">Confirma Contrase単a</label>
              <input type="password" name="cpass"  class="form-control"  id="copasswordinput" placeholder ="Confirma tu contrase単a" required>
        </div>

        <div class="col-6">
            <label for="Documento" class="form-label">Numero de Documento</label>
            <input type="number"  name="ndoc"  class="form-control"  id="Documento" placeholder ="Ingresa tu numero documento" >
        </div>

        <div class="col-6">
              <label for="Telefono" class="form-label">Telefono</label>
              <input type="number" name="tele"  class="form-control"  id="Telefono" placeholder ="Ingresa tu numero de telefono " required>
        </div>
          
        <div class="col-6">
              <label for="Name" class="form-label">Nombre </label>
              <input type="text"  name="name"  class="form-control"  id="Name" placeholder ="Ingresa tu nombre completo" required>
        </div>

        <div class="col-6">
              <label for="Apellido" class="form-label">Apellido </label>
              <input type="text"  name="Apell" class="form-control"  id="Apellido" placeholder ="Ingresa tu Apellido " required>
        </div>

        <div class="col-6">
              <label for="Nacimiento" class="form-label">Fecha de Nacimiento</label>
              <input type="date" name="nac" min =1900-01-01 max = 2022-01-01 class="form-control"  id="Nacimiento" placeholder ="Fecha de Nacimiento"  required>
        </div>

        <div class="col-6">
              <label for="Country" class="form-label">Pais de residencia</label>
              <input type="tex"  name="count" class="form-control"  id="Country" placeholder ="Ingresa pais de residencia" required>
        </div>

         <div class="col-12">
              <div class="form-radio"> <br>
              <label for="genero" class="form-genero-label"><h5>Genero</h5></label><br>
              <input type="radio" name="genero"  value="Masculino" id="Masculino"  checked> Masculino
              <input type="radio" name="genero"  value="Femenino"  id="Femenino"> Femenino
              <input type="radio" name="genero"  value="Otro" id="Otro"> Otro
              </div>
        </div>


        <div class="col-4"><br><br> 
          <button type="button reset" class="btn btn-dark">Reiniciar</button>

        </div>
       
        <div class="col-4"><br><br> 
          <div class="form-check">
          <input type="checkbox"  name="terms" id="terms" class="form-checkterm-input" >
          <label for="terms" class="form-checkterm-label">Acepto terminos y condiciones </label>
          </div>
        </div>  
        <hr>
         
        <div class="col-4"><br><br>
          <button type="button submit" class="btn btn-secondary btn-lg">Enviarlo </button> 
         </div>
        <br>   
      </form>
</div>
      <br>
            
           <!--final div class container ->

    </main>
   <!- footer -->
	<%- include ('../partials/footer') %>
	<!-- /footer -->

       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
       <script src="https://kit.fontawesome.com/2c086df42b.js" crossorigin="anonymous"></script>
       <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
       </body>
</html>