<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    <%- include ('../partials/head') %>
            
  
  
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/profileEdit.css" rel="stylesheet">

 
</head>
<body>
    <!-- Contenido del Header -->
<!-- header -->
<%- include ('../partials/header') %>
<!-- /header -->

  <main>


    <br>
    <div class="div-editar" ><h3 class="editar-datos-texto">EDITAR DATOS:  </h3> </div>     
    
    <hr>
    <main>
        <!--class="row mt-3"-->
        <div class="errores">
              <ul></ul>
        </div>
        
  <div class="container" >
            
    <form action="register" method="POST" id="FormDicons" enctype="multipart/form-data" class=" row mt-3 " >
  
      <div class="col-6">
        <label for="emailInput" class="form-label">Nuevo Email</label>
        <input type="email" name="email" class="form-control"  id="emailInput" placeholder ="Ingresa tu e-mail" required>
      </div>
      <div class="col-6">
        <label for="passwordinput" class="form-label">Nueva Contrase単a</label>
        <input type="password" name="pass" class="form-control"  id="passwordinput" placeholder ="Ingresa tu contrase単a" required>
      </div>

      <div class="col-12 col-md-6" style="margin-bottom: 20px; color: black;"> <br>
        <label for="avatar" class="form-genero-label">Ingrese su nueva foto</label><br>
        <input type="file" id="avatar" name="avatar" required></input>
      </div>
      <br>
      <br>

      <div class="col-6">
       <label for="passwordinput" id="passwordinput-2" class="form-label">Confirmar contrase単a</label>
       <input type="password" name="pass" class="form-control"  id="passwordinput" placeholder ="Ingresa tu contrase単a" required>
      </div>
             
          
             
              
              <div class="col-4">
                
                    <div class="col-4" style="margin-bottom: 20px; margin-top: 10px;">
                          <button id="boton-confirmar" type="submit" class="btn btn-secondary btn-lg">Confirmar </button> 
                    </div> 
              </div>
              
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </main>

<!-- footer -->
<%- include ('../partials/footer') %>
<!-- /footer -->

</body>
</html>